.menu {
    height: calc(100vh - 70px);
    width: 250px;
    background-color: black;
    transition: all 0.2 smooth;
}

.menu-header {
    margin-left: 26px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    button {
        background-color: #202020;
        margin-left: auto;
        width: 32px;
        height: 32px;
        color: white;
        border-radius: 6px;
        outline: 0;
        border: none;
        mat-icon {
            position: relative;
            right: 3px;
        }
    }
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-left: 10px;
    .active {
        color: rgb(255, 51, 58);
        background-color: #202020;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        padding: 16px;
        border-radius: 50px;
        &:hover {
            background-color: #202020;
        }
    }

    .icon {
        position: relative;
        top: 3px;
    }
}

.menu.closed {
    width: 80px;
}

hr {
    margin: 39px 0;
    height: 1px;
    border: 1px solid transparent;
    border-top: 1px solid #1b1d1c;
}