<div class="menu" [ngClass]="menuClosed ? 'closed' : ''" [@inOutAnimation]="menuClosed ? 'closed' : 'open'">
  <div class="menu-header">
    <h1 *ngIf="!menuItemsHidden" [@fade]="menuClosed ? 'void' : 'active'">Menu</h1>
    <button class="toggle-button" (click)="toggleMenu()">
      <mat-icon *ngIf="!menuClosed">keyboard_double_arrow_left</mat-icon>
      <mat-icon *ngIf="menuClosed">keyboard_double_arrow_right</mat-icon>
    </button>
  </div>
  <ul class="menu-list">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.link" [routerLinkActive]="['active']">
        <mat-icon class="icon">{{item.icon}}</mat-icon>
        <span *ngIf="!menuItemsHidden" [@fade]="menuClosed ? 'void' : 'active'">
          {{ item.name }}
        </span>
      </a>
    </li>
  </ul>
  <hr>
</div>